root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
dotnet_style_require_accessibility_modifiers = always:warning

[*.{xaml,xml,yml,yaml,json,md}]
indent_style = space
indent_size = 2
